<form [formGroup]="registerForm" (ngSubmit)="createLesson()">
    
    <label for="title">Título</label>
    <input type="text" formControlName="title" id="title"/>

    <label for="libFramework">Plataforma</label>
    <select id="libFramework" formControlName="idPlatform" name="platform" (change)="getLibsAndFrameworks()">
        <option *ngFor="let platform of platforms" [value]="platform.id">
            {{ platform.nome }}
        </option>
    </select>

    <div *ngIf="registerForm.value.idPlatform.length > 0">
        <label for="libFramework">Biblioteca ou Framework utilizado</label>
        <select id="libFramework" formControlName="idLibFramework">
            <option *ngFor="let libAndFramework of libsAndFrameworks" [value]="libAndFramework.id">
                {{ libAndFramework.name }}
            </option>
        </select>
    </div>

    <label>Conteúdo</label>
    <angular-editor formControlName="content"  [config]="editorConfig"></angular-editor>

    <input type="submit" title="cadastrar"/>
</form>
