<div class="container">
    <div class="row mb-4">
        <div class="col-9">
            <button class="btn btn-success btn-sm m-2" routerLink="/register-lesson" *ngIf="isAdmin">
                Registrar nova aula
            </button>
            <button 
                type="button" 
                [ngClass]="{'btn-primary': !favorited, 'btn-secondary': favorited}" 
                class="btn btn-sm align-right" 
                [disabled]="favorited" *ngIf="isLogged && !hideFavorite" (click)="addToFavorites()">
                {{ favorited ? 'Biblioteca salva aos favoritos' : 'Adicionar Biblioteca aos favoritos'}}
            </button>
        </div>
        
        <div class="col" *ngIf="isAdmin">
            <button type="button" class="btn btn-sm btn-warning m-2"  [routerLink]="['/edit/lib-and-framework/', idLibFramework]">
                Editar
            </button>
            <button type="button" class="btn btn-sm btn-danger m-2"  (click)="removeLibAndFramework()">
                Excluir
            </button>
        </div>
    </div>

    <div class="row" *ngIf="lessonsList.length > 0">
        <div class="col-12" *ngFor="let lesson of lessonsList" class="el-pointer" [routerLink]="['/lesson', lesson.id]">
            <h1>{{ lesson.title }}</h1> 
            <p style="text-align: justify;" [innerHTML]="toLimitText(lesson.content, 800, '...')"></p>
        </div> 
    </div>

    <div class="row" *ngIf="lessonsList.length == 0">
        <p style="text-align: center;">Nenhuma aula cadastrada.</p>
    </div>

</div>