

<div class="container" [ngPlural]="libsAndFrameworks.length" > 
  <div class="row" *ngIf="isAdmin">
    <div class="col-10">
      <div class="d-flex ">
        <button class="btn btn-secondary btn-sm" routerLink="/register-libs-and-frameworks">
          Registrar nova biblioteca ou framework
        </button>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-sm btn-warning m-2"  [routerLink]="['/edit/platform/', idPlatform]">
        Editar
      </button>

      <button type="button" class="btn btn-sm btn-danger m-2" (click)="deletePlatform()">
        Excluir
      </button>
    </div>
  </div>

  <ng-template #noList ngPluralCase="=0">
    <div class="alert alert-warning my-4 w-50 text-center mx-auto">
      Nenhuma informação encontrada. <br />
      Selicione um filtro no menu ao lado <br/>
      <span *ngIf="isAdmin">ou <a routerLink="/register-libs-and-frameworks">crie uma nova</a></span>
    </div>
  </ng-template>

  <ng-template #list ngPluralCase="other">
    <div class="row">
      <div class="col-4" *ngFor="let libAndFramework of libsAndFrameworks">
        <app-card [post]="libAndFramework" type="lessons"></app-card>
      </div>
    </div>
  </ng-template>

</div>



